<h2>ERP Employess</h2>

<div class="card-body">
    <table class="table table-bordered table-center">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Job Position</th>
                <th>salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" class="employees">
                <td><span class="badge">{{employee.EmployeeId}}</span></td>
                <td>{{employee.Name}}</td>
                <td>{{employee.LastName}}</td>
                <td>{{employee.PositionJob}}</td>
                <td>{{employee.Salary}} </td>
                <td>
                    <ul>
                        <li>Edit</li>
                        <li>Delete</li>
                    </ul>
                </td>
            </tr>
        </tbody>

    </table>
</div>



<h2>{{employee.Name | uppercase}} Details</h2>

<div>
    <label>name:
      <input [(ngModel)]=" employee.Name" placeholder="name"/>
    </label>
</div>
<div>
    <label>lastname:
      <input [(ngModel)]=" employee.LastName" placeholder="lastname"/>
    </label>
</div>
<div><span> <strong>Id: </strong></span>{{employee.EmployeeId}}</div>
<div><span><strong>Name:</strong> </span>{{employee.Name}}</div>
<div><span><strong>Lastame:</strong> </span>{{employee.LastName}}</div>
<div><span><strong>Position Job:</strong> </span>{{employee.PositionJob}}</div>
<div><span><strong>Salary:</strong> </span>{{employee.Salary}}</div>