<h2 class="h2 text-center mt-2">ERP Employess</h2>

<div class="card-body">
    <table class="table table-bordered table-center">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Job Position</th>
                <th>salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" class="employees">
                <td><span class="badge">{{employee.employeeId}}</span></td>
                <a routerLink="/detail/{{employee.employeeId}}">
                    <td>{{employee.name}}</td>
                </a>

                <td style="color:black;"> {{employee.lastname}}</td>
                <td>{{employee.positionJob}}</td>
                <td>{{employee.salary}} </td>
                <td>
                    <ul>
                        <li class="list-inline-item">
                            <i class="fas fa-edit"></i> Edit
                        </li>
                        <li class="list-inline-item"> <i class="fas fa-trash"></i>Delete</li>
                    </ul>
                </td>

            </tr>
        </tbody>

    </table>
</div>