/* #24243e #302b63 #0f0c29 #DBDBDB #EAEAEA #2948ff #396afc #bdc3c7 #2c3e50*/

// background-color: #BDBDBD;
.header {
    width: 100%;
    height: 120px;
    // background-color: #F8F9FA;
    // background-color: #E6DADA;
    background-color: #e4e4d9;
}

.header__menu--profile,
.navbar .list-section {
    display: flex;
}

.list-section,
.h1 {
    font-weight: bolder;
}

.header__image {
    width: 100px;
    transition: width 2s, height 2s, transform 2s;
}

.header__image:hover {
    transform: rotate(360deg);
}

.header__menu {
    position: absolute;
    right: 10px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #24243e;
}

.header__menu--user--image {
    border-radius: 50%;
}

.header__menu--profile {
    width: 40px;
    align-items: center;
    margin-right: 60px;
}

.header__menu--profile-user {
    margin-left: 10px;
    letter-spacing: 1px;
}

.header__menu--profile:hover {
    cursor: pointer;
    color: #9a8478;
}

.header__menu .list {
    display: none;
    text-align: right;
}

.header__menu:hover .list,
.list:hover {
    display: block;
}

p {
    margin: 0;
}

a {
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #24243e;
    text-decoration: none;
}

a:hover {
    color: #9a8478;
}