<header class="header">
    <nav class="navbar">
        <ul class="list-section">
            <img class="header__image" src="/assets/img/chicacode-logo.png" alt="chicacode logo">
            <div class="header__menu">
                <div class="header__menu--profile">
                    <a href="https://gmail.com">
                        <img tabindex="0" class="header__menu--user--image" src="https://lh3.googleusercontent.com/ogw/ADGmqu8MEelLcYeA1t0VlARdLjtTTthHjg5YvM6c2bnj=s32-c-mo" alt="profile picture">
                    </a>
                    <p class="header__menu--profile-user">Profile</p>
                </div>

                <li class="list">
                    <a href="/">Account</a>
                </li>
                <li class="list">
                    <a href="/">Logout</a>
                </li>
            </div>

        </ul>
    </nav>
</header>