<section class="sample-app-content">
    <nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
        <a routerLink="/dashboard" class="nav-link text-white">Dashboard</a>
        <a routerLink="/employees" class="nav-link text-white">Employees</a>
    </nav>
    <h1 class="text-center">Add Order</h1>
    <form [formGroup]="orderForm" novalidate class="form">
        <div class="form-group">
            <label for="orderNumber">Order Number:</label>
            <input type="text" formControlName="orderNumber" placeholder="Order Number" name="orderNumber" class="form-control" id="orderNumber">
            <div class="alert alert-danger" *ngIf="orderForm.get('orderNumber').hasError('required') && orderForm.get('orderNumber').touched">order Number is required</div>
        </div>
        <div class="form-group">
            <label for="order Priority">Order Priority:</label>
            <input type="number" maxlength="3" formControlName="Order Priority" placeholder="order Priority" name="orderPriority" class="form-control" id="orderPriority">
            <div class="alert alert-danger" *ngIf="orderForm.get('orderPriority').hasError('required') && orderForm.get('LastName').touched">Priority is required</div>
        </div>

        <div class="form-group">
            <label for="orderState">Order State</label>
            <input type="number" formControlName="orderState" placeholder="Order State" name="orderState" class="form-control" id="orderState">
            <div class="alert alert-danger" *ngIf="orderForm.get('orderState').hasError('required') && orderForm.get('orderState').touched">State is required</div>
        </div>
        <div class="form-group">
            <label for="creationOrder">Creation Order Date</label>
            <input type="date" formControlName="Salary" placeholder="Creation Date" name="creationOrder" class="form-control" id="creationOrder">
            <div class="alert alert-danger" *ngIf="orderForm.get('creationOrder').hasError('required') && orderForm.get('creationOrder').touched">date is required</div>
        </div>
        <div class="form-group">
            <label for="doneByEmployeeOrder">Done by employee</label>
            <input type="date" formControlName="doneByEmployeeOrder" placeholder="done by Employee" name="doneByEmployeeOrder" class="form-control" id="doneByEmployeeOrder">
            <div class="alert alert-danger" *ngIf="orderForm.get('doneByEmployeeOrder').hasError('required') && orderForm.get('doneByEmployeeOrder').touched">Date done is required</div>
        </div>
        <div class="form-group">
            <label for="orderCompleted">Date Order Completed</label>
            <input type="date" formControlName="orderCompleted" placeholder="Date Order Completed" name="Password" class="form-control" id="orderCompleted">
            <div class="alert alert-danger" *ngIf="orderForm.get('orderCompleted').hasError('required') && orderForm.get('orderCompleted').touched">Date order completed is required</div>
        </div>
        <div class="form-group">
            <label for="addressId">Address Id</label>
            <input type="number" formControlName="addressId" placeholder="Address Id" name="addressId" class="form-control" id="addressId">
            <div class="alert alert-danger" *ngIf="orderForm.get('addressId').hasError('required') && orderForm.get('addressId').touched">Address Id is required</div>
        </div>
        <div class="form-group">
            <label for="customerId">Customer Id</label>
            <input type="number" formControlName="customerId" placeholder="customer Id" name="customerId" class="form-control" id="customerId">
            <div class="alert alert-danger" *ngIf="orderForm.get('customerId').hasError('required') && orderForm.get('customerId').touched">customer Id is required</div>
        </div>
        <div class="form-group">
            <label for="orderCompleted">Date Order Completed</label>
            <input type="date" formControlName="orderCompleted" placeholder="Date Order Completed" name="Password" class="form-control" id="orderCompleted">
            <div class="alert alert-danger" *ngIf="orderForm.get('orderCompleted').hasError('required') && orderForm.get('orderCompleted').touched">Date order completed is required</div>
        </div>
        <button class="btn btn-success" [disabled]="!orderForm.valid" (click)="create()">Save</button>
    </form>
</section>