/* DashboardComponent's private CSS styles */

[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// h3 {
//     text-align: center;
//     margin-bottom: 0;
// }
a {
    color: #00000e;
}

.grid {
    position: absolute;
    top: 350px;
    left: 220px;
}

.col-1-8 {
    width: 25%;
}

.carrousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.module {
    padding: 20px;
    text-align: center;
    color: #000;
    max-height: 120px;
    min-width: 100px;
    background-color: #ebebeb;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    border: none;
    outline: none;
    border-radius: 40px;
}

.module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}

.product-img {
    width: 180px;
    border-radius: 10px;
    overflow: hidden;
}

.h4 a:hover {
    font-size: 14px;
    font-weight: bold;
}

h4,
.h4 {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.grid-pad {
    margin: 20px;
    padding: 10px 0;
}

.grid-pad>[class*='col-']:last-of-type {
    padding-right: 20px;
}

@media (min-width: 1266px) {
    .grid {
        position: absolute;
        top: 350px;
        left: 350px;
    }
    .col-1-8 {
        width: 25%;
    }
}

@media (max-width: 900px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
    .h3-employees {
        font-size: 15px;
        position: relative;
        right: 0px;
        margin: 10px;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
    .h3-employees {
        font-size: 15px;
        font-weight: bold;
        position: relative;
        right: 150px;
    }
}