<!-- Crear array de botones o cards con mis servicios de gestion -->

<app-sidebar></app-sidebar>

<div class="grid grid-pad">
    <a class="col-1-4">
        <div class="module">
            <h4 class="h4">
                <a routerLink="/products">Inventory</a>
            </h4>
        </div>
    </a>
    <a class="col-1-4">
        <div class="module ">
            <h4 class="h4">
                <a routerLink="/orders">Sales</a>
            </h4>
        </div>
    </a>
    <a class="col-1-4">
        <div class="module ">
            <h4 class="h4">
                <a routerLink="/employees">Human Resources</a>
            </h4>
        </div>
    </a>
    <a class="col-1-4">
        <div class="module ">
            <h4 class="h4">
                <a routerLink="/customers">CRM</a>
            </h4>
        </div>
    </a>
    <h3 class="h3-employees">Top Employees</h3>
    <div class="grid grid-pad">

        <div class="employees">

            <a *ngFor="let employee of employees" class="col-1-4" routerLink="/detail/{{employee.employeeId}}">
                <div class="module">
                    <h4 class="h4">{{employee.userName}}</h4>
                </div>
            </a>
        </div>

    </div>
</div>