<section class="sample-app-content">
    <nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
        <a routerLink="/dashboard" class="nav-link text-white">Dashboard</a>
        <a routerLink="/products" class="nav-link text-white">Products</a>
    </nav>
    <h1 class="text-center">Add Product</h1>
    <form [formGroup]="productForm" novalidate class="form">
        <div class="form-group">
            <label for="Name">Product Name:</label>
            <input type="text" formControlName="Name" placeholder="Name" name="Name" class="form-control" id="Name">
            <div class="alert alert-danger" *ngIf="productForm.get('Name').hasError('required') && productForm.get('Name').touched">Name is required</div>
        </div>
        <div class="form-group">
            <label for="Description">Product Description:</label>
            <input type="text" formControlName="Description" placeholder="Description" name="Description" class="form-control" id="LastName">
            <div class="alert alert-danger" *ngIf="productForm.get('Description').hasError('required') && productForm.get('LastName').touched">Description is required</div>
        </div>

        <div class="form-group">
            <label for="TotalQuantity">Total Quantity</label>
            <input type="text" formControlName="TotalQuantity" placeholder="Total Quantity" name="TotalQuantity" class="form-control" id="TotalQuantity">
            <div class="alert alert-danger" *ngIf="productForm.get('TotalQuantity').hasError('required') && productForm.get('TotalQuantity').touched">Quantity is required</div>
        </div>
        <div class="form-group">
            <label for="CategoryId">Category Id</label>
            <input type="number" formControlName="CategoryId" placeholder="CategoryId" name="CategoryId" class="form-control" id="CategoryId">
            <div class="alert alert-danger" *ngIf="productForm.get('CategoryId').hasError('required') && productForm.get('CategoryId').touched">category id is required</div>
        </div>

        <button class="btn btn-success" [disabled]="!productForm.valid" (click)="create()">Save</button>
    </form>
</section>