<div class="card">
    <h4 class="card-header  text-center">Admins employees</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table *ngIf="users">
            <thead>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Role</th>
            </thead>
            <tbody *ngFor="let user of users">
                <td>{{user.firstName}}</td>
                <td> {{user.lastName}}</td>
                <td> {{user.role}}</td>
            </tbody>
        </table>
    </div>
</div>