<h2>{{employee.name | uppercase}} Details</h2>

<div>
    <label>name:
      <input [(ngModel)]=" employee.name" placeholder="name"/>
    </label>
</div>
<div>
    <label>lastname:
      <input [(ngModel)]=" employee.lastName" placeholder="lastname"/>
    </label>
</div>
<div><span> <strong>Id: </strong></span>{{employee.id}}</div>
<div><span><strong>Name:</strong> </span>{{employee.name}}</div>
<div><span><strong>Lastame:</strong> </span>{{employee.lastName}}</div>
<div><span><strong>Position Job:</strong> </span>{{employee.positionJob}}</div>
<div><span><strong>Salary:</strong> </span>{{employee.salary}}</div>