<div class="card mx-auto mt-3" style="width: 18rem;" *ngIf="customer">
    <div class="card-header">
        Customer
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><span> <strong>Id: </strong></span>{{customer.id}}</h6>
        <div><span><strong>Name: </strong> </span>{{customer.name}}</div>
        <p class="card-text"><span><strong>Lastame: </strong> </span>{{customer.lastName}}</p>
        <p class="card-text"><span><strong>phone: </strong> </span>{{customer.phoneNumber}}</p>
        <p class="card-text"><span><strong>email: </strong> </span>{{customer.email}}</p>

        <button type="button" class="btn btn-info" (click)="goBack()">go back</button>
    </div>
</div>