<section class="carrousel">
    <div id="carru" class="carrousel__container">
        <div class="carrousel-item" data-item="all">
            <img class="carrousel-item__img store-img" src="https://images.unsplash.com/photo-1553877522-43269d4ea984?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="code">

            <div class="carrousel-item__details">
                <div>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <p class="carrousel-item__details--title">Employee</p>
                <p class="carrousel-item__details--subtitle">{{employees}}</p>
            </div>
        </div>
    </div>
</section>