<section class="sample-app-content">
    <nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
        <a routerLink="/dashboard" class="nav-link text-white">Dashboard</a>
        <a routerLink="/addcategory" class="nav-link text-white">Add Category</a>

    </nav>
    <h2 class="h2 text-center mt-2">Categories</h2>
    <div class="card-body">
        <table class="table table-bordered table-center">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Category</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories" class="categorys">
                    <td><span class="badge">{{category.categoryId}}</span></td>
                    <a routerLink="/detailpro/{{category.categoryId}}">
                        <td>{{category.name}}</td>
                    </a>


                    <a routerLink="/categories/{{category.categoryId}}">
                        <td>{{category.categoryId}} </td>
                    </a>

                    <td>
                        <ul>
                            <li class="list-inline-item">

                                <a routerLink="/updatepro/{{category.categoryId}}">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <button (click)="delete(category.categoryId)" class="btn btn-danger">
                             <i class="fas fa-trash"></i>Delete
                            </button>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>