.footer {
    align-items: center;
    height: 50px;
    width: 100%;
}

.footer a {
    color: #24243e;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.force-overflow {
    overflow-x: scroll;
    width: 90%;
    margin-left: 80px;
    margin-top: 50px;
}

#style-1::-webkit-scrollbar-track:horizontal {
    border-radius: 9px;
    background-color: #2c3e50;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #2c3e50;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}